html,body {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
  overflow-x: hidden;
  background-color: #fafafa;
}
.banner {
  background-color: #272727;
  margin: 1rem 1.75rem 1.75rem;
  border-radius: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 128px;
  width: 100wh;
  background-position: center top;
  background-size: cover;
  background-repeat: repeat;
}
.navigator {
  overflow: hidden;
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  text-decoration: none;
  z-index: 99;
}
h1 {
   font-family: "Poppins", sans-serif;
   font-weight: 900;
   font-size: 2rem;
   color: #272727;
   line-height: 1.8rem;
   rotate: -0.5deg;
   margin: 1rem 1.75rem;
}
p {
   font-family: "Poppins", sans-serif;
   font-weight: 400;
   font-size: 1rem;
   color: #272727;
   line-height: 1.8rem;
   margin: 1rem 1.75rem;
   text-align: justify;
   text-justify: inter-word;
}
.button {
  background-color: white;
  border-radius: 12px;
  color: #272727;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100wh;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1rem 1.75rem;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  outline: 0;
  background: white;
  box-shadow: 0 0 0 2px #272727, 0 3px 8px 0 rgba(0, 0, 0, .1);
  font-size: 17px;
}

.button:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}
